body{
    margin: 0;
    font-family: 'Cinzel', serif;
    overflow: hidden;
    user-select: none; 
}  

#info {
  display: none;
}
#playBtn{

  font-family: 'Cinzel', serif;
  font-size: 30px;
  background: transparent;
  color: rgb(63, 62, 62);
  padding: 10px;

}
.border-square {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(198, 164, 116, 0.5); 
  border-radius: 7%;
  z-index: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.border-square-animated {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(198, 164, 116, 0.5); 
  z-index: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: borderanimationsquare linear 5s infinite;
}

@keyframes borderanimationsquare {
  0%{
      border-radius: 14% 88% 15% 85% / 81% 22% 72% 8%;
  }

  33%{
      border-radius: 10%;
  }
  66% {
      border-radius: 2% 98% 5% 95% / 96% 21% 98% 7%;
  }
 
  100%{

      border-radius: 14% 88% 15% 85% / 81% 22% 72% 8%;

  }
}

.border {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(198, 164, 116, 0.5); 
  z-index: 1;
  animation: borderanimation 5s infinite;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none; 
}

@keyframes borderanimation {
  0%{
      border-width: 50%;
      border-radius: 50%;
  }
  25%{
      border-width: 50% 20% 10% 30%;
      border-radius: 45% 55% 47% 59% / 47% 48% 52% 53%;

  }
  50% {
      border-width: 48% 42% 46% 44%;

  }
  75% {
      border-radius: 61% 39% 41% 59% / 43% 60% 40% 57% 

  }
  100%{
      border-width: 50%;
      border-radius: 51% 48% 49% 51% / 51% 51% 49% 49%;

  }
}
#instructions{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  color: rgb(64, 63, 63);
  width: 100vw;
  height: 100vh;
  /* left: 21%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%); */
  /* border-radius: 20px; */
  background-color: black;
  background-size: cover;
  text-align: center;
}

#instructions2 {
  font-size: 22px;
  font-weight: 500;
  display: none;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.216);
  padding: 2rem;
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

#settings {
  display: none;
  position: absolute;
  padding: 8rem;
  font-size: 25px;
  background: rgba(99, 97, 97, 0.9);
  border-radius: 15px;
  left: 25%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  z-index: 6;
  flex-direction: column;
}

#credits {
  display: none;
  position: absolute;
  padding: 8rem;
  font-size: 25px;
  background: rgba(99, 97, 97, 0.9);
  border-radius: 15px;
  left: 30%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  z-index: 6;
}

#close {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 40px;
}

#close1 {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 40px;
}

#gameover{
    display: none;
    position:absolute;
    bottom: 250px;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: rgb(29, 29, 29);
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

#castle{
    display: none;
    position:absolute;
    bottom: 250px;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    color: rgb(22, 22, 22);
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    border-radius: 20px;
    padding: 30px;
    background-image: url('./assets/plane/level-bg.png');
    text-align: center;
}

#info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    
}
#info img{
    padding-top: 20px;
}
#life{
  position: absolute;
  left: 20px;
}

/* Add this to your CSS file */
@keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 0; }
    100% { opacity: 0.3; }
}

.blink {
    animation: blink 0.8s linear infinite;
}

#score-panel{
  position: absolute;
  top: 0;
  right: 20px;
  float: right;
}
#lives{
    display: inline;
    position: relative;
    top: -15px;
}
#score{
    display: inline;
    position: relative;
    top: -15px;
}
#smaller-icon {
  width: 35px;
}

#smaller-icon1 {
  width: 55px;
}

#smaller-icon2 {
  width: 75px;
}


#left-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  z-index: 1;
}

#login-info {
}

.login-name {
  margin-bottom: 10px;
  height: 3rem;
  width: 9.2rem;
}

.coins-collected {
  margin-bottom: 8%;
  height: 3rem;
  width: 9.2rem;
  position: absolute;
  left: 20%;
  top: 65px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  
}

.username-icon {
  width: 56px;
  left: 20px;
  margin-bottom: -34px;
}

.coin-icon {
  margin-bottom: 8%;
  height: 60px;
  position: absolute;
  left: 27%;
  top: 60px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 2;

}

.btn {
  height: 2rem;
  width: 9.2rem;
}

#middle-info {
  z-index: 1;
}
.right-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 5vw;
}


      #bg {
          position: absolute;
          left: 45%;
          top: 30%;
          transform: translateY(-50%) translateX(-50%);
          z-index: 0;
          transform: scale(2);

      }

      #bg-img {
          animation: rotate 40s linear infinite;
      }

      @keyframes rotate {
          0%{
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(360deg);
          }
          }


                                  /* TABLE */
          
  table {
  display: none;
  width: 10%;
  font-size: 10px;
  border-collapse: collapse;
  border: 1px solid rgba(198, 164, 116, 0.5); 
  z-index: 1;
  font-size: 17px;
  margin-bottom: 10%;
  }

  

  td {
      padding: 8px 10px;
      text-align: left;
      font-size: 14px;
  }

  th {
  padding: 8px 10px;
  text-align: left;
  font-size: 14px;
  }

  thead tr {
      border: 2px solid rgba(198, 164, 116, 0.6);
  }

  thead th {
  width: 25%;
  }

  tbody tr:nth-child(odd) {
  background-color: #f8f9fa04;
  }

  tbody tr:nth-child(even) {
  background-color: #e9ecef15;
  }

  #table-info {
      margin-bottom: 14vh;
  }


                /*  SLIDER */

   .slider {
      width: 500px;
      height: 320px;
      position: relative;
      overflow: hidden;
      margin-top: -50px;
  }
  .slider img {
      width: 340px;
      position: inherit;
      
  }





  .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.0);
      color: rgba(198, 164, 116, 0.5);
      padding: 5px 12px;
  }
  .left-arrow {
      left: 5px;
      transition: transform 0.1s ease-in-out;

  }

  .left-arrow:after {
      transform: scale(0.1);
  }

  .right-arrow {
      right: 5px;
  }

  .right-arrow:after {
      width: 50px;
  }

  .choose {
      margin-top: 20px;
      margin-bottom: -80px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }


          /* Mobile Controls */

  #controls {
      display: none;
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
  }

  .control-btn {
    display:none;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
  }

  #jumpBtn {
      align-self: flex-end;
      margin-right: 60px;
  }
  @media screen and (max-width: 1072px) {
    #left-info {
      transform: scale(0.9);
      margin-left: 1vw;
    }

    .coin-icon {
      left: 182%;
    }

    .coins-collected {
      left: 101%;
    }

    .slider {
      transform: scale(0.8);
    }

    .right-info {
      transform: scale(0.9);
      margin-right: 1vw;
    }

    .choose {
      transform: scale(0.9);
    }

    #instructions2 {
      font-size: 14px;
    }

    #credits {
      padding: 5rem;
      left: 12%;
    }

    #settings {
      padding: 2rem;
      font-size: 20px;
      left: 22%;
    }

    #castle {
      bottom: 20%;
    }
  }

  @media screen and (max-width: 768px) {
    #left-info {
      transform: scale(0.6);
      margin-left: 0.5vw;
    }

    .coin-icon {
      left: 155%;
    }

    .coins-collected {
      left: 101%;
    }

    .slider {
      transform: scale(0.5);
      position: absolute;
      left: 17%;
      top: 20%;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .right-info {
      transform: scale(0.6);
      position: absolute;
      left: 75%;
    }

    .choose {
      transform: scale(0.6);
      position: absolute;
      left: 39%;
      top: 57%;
    }

    #controls {
      display: flex;
    }

  }

  @media screen and (max-width: 554px) {
    #left-info {
      transform: scale(0.55);
      margin-left: 0.5vw;
    }

    .coin-icon {
      left: 155%;
    }

    .coins-collected {
      left: 101%;
    }

    .slider {
      transform: scale(0.4);
      position: absolute;
      left: -2%;
      top: 25%;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .right-info {
      transform: scale(0.55);
      position: absolute;
      left: 75%;
    }

    .choose {
      transform: scale(0.55);
      position: absolute;
      left: 25%;
      top: 67%;
      z-index: 4;
    }
  }

  @media screen and (max-width: 548px) {
    #left-info {
      transform: scale(0.55);
      margin-left: 0.5vw;
      position: absolute;
      top: -20%;
    }

    table {
      display: none;
    }

    .btn {
      display: none;
    }

    .coin-icon {
      left: 223%;
    }

    .coins-collected {
      left: 155%;
    }

    .slider {
      transform: scale(0.7);
      position: absolute;
      left: -10%;
      top: 25%;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .right-info {
      transform: scale(0.75);
      position: absolute;
      left: 10%;
      flex-direction: row;
      top: 62%;
      width: 80vw;
    }

    .choose {
      transform: scale(0.65);
      position: absolute;
      width: 60vw;
      left: 20%;
      top: 54%;
      z-index: 4;
    }
  }
  